<div class="header">
  <h3 style="text-align: center; margin: 0;">Total quantity of all meteors landed on Earth in selected year: {{foundedMeteors.length}}</h3>
</div>
<div class="container">
  <div class="search-form">
    <div class="flex-row">
      <div class="label">
        <p>Select year: </p>
      </div>
      <div class="input">
        <select [(ngModel)]="selectedYear" (ngModelChange)="onYearInputChange()">
          <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <div class="flex-row">
      <div class="label">
        <p>Enter mass: </p>
      </div>
      <div class="input">
        <input type="number" [disabled]="meteorsLoading || !selectedYear" [(ngModel)]="selectedMass"
          (input)="onMassInputChange()" min="0">

      </div>
    </div>
  </div>
  <div class="search-result">
    <p style="margin: 0;margin-bottom: 5px">Founded meteors:</p>
    <div class="meteor-card" *ngFor="let meteor of foundedMeteors">
      Name: {{meteor.name}} | Mass: {{meteor.mass}}
    </div>
  </div>
</div>

<div class="popup" *ngIf="isNotificationShown">
  <div class="notification-message">
    <p>
      {{notificationMessage}}
    </p>
  </div>
</div>