.popup {
    display: flex;
    max-width: 50%;
    background: #ffa839;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    align-items: center;
}

.notification-message {
    word-break: break-all;
    white-space: normal;
}

.notification-message > p {
    margin: 10px;
    margin-top: 0;
}

.popup > button {
    border: 1px solid #bbbbbb;
    background: #dedede;
    align-self: end;
}


.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.search-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    max-width: 400px;
    min-width: 200px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-result {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    max-width: 400px;
}

.input-wrap {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.label {
    margin-right: 10px;
}

.input {
    flex:1;
}

.input > * {
    width: 100%;
}

.meteor-card {
    padding: 5px;
    background: #e6e6e6;
    margin-bottom: 5px;
    border: 1px solid #d2d2d2;
}